<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="PerSecurityHttpsBinding">
          <!--<security mode="Transport" >
            <transport clientCredentialType="Certificate"></transport>-->
          <security mode="Transport">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpsBinding>

      <basicHttpBinding>
        <binding name="PerSecurityHttpBinding">
          <!--<security mode="Transport" >
            <transport clientCredentialType="Certificate"></transport>-->
          <security mode="Transport">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="PerSecurityWSBinding2" >
          <security mode="Transport">
            <!--<message clientCredentialType="Certificate" />-->
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dlws-uat.bloomberg.com/dlps"
          binding="basicHttpsBinding" bindingConfiguration="PerSecurityHttpsBinding"
          contract="BloomB.PerSecurityWS" name="PerSecurityHttpsPort"  />

      <endpoint address="https://dlws-uat.bloomberg.com/dlps"
    binding="basicHttpBinding" bindingConfiguration="PerSecurityHttpBinding"
    contract="BloomB.PerSecurityWS" name="PerSecurityHttpPort"  />

      <endpoint address="https://dlws-uat.bloomberg.com/dlps"
        binding="wsHttpBinding" bindingConfiguration="PerSecurityWSBinding2"
        contract="BloomB.PerSecurityWS" name="PerSecurityWSPort2"  />

    </client>
  </system.serviceModel>
</configuration>